<template name="home">

    <div id="modalLogin" class="modal fade">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">X</span></button>
                    <h4 class="modal-title">Inicio de Sesión</h4>
                </div>
                <div class="modal-body">
                    <label for="userName">Usuario:</label>
                    <input id="userName" type="text" class="form-control" placeholder="Usuario">
                    <br>
                    <label for="passWord">Contraseña:</label>
                    <input id="passWord" type="password" class="form-control" placeholder="Contraseña">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="page-wrapper">

        <header class="header-1">
            <div class="container">
                <div class="row">
                    <nav class="navbar col-sm-12" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle"></button>
                            <a class="brand" href="#">
                                <img src="logo@2x.png" width="50" height="50" alt=""> Liga Colca
                            </a>
                        </div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav pull-right">
                                <li><a href="#">HISTORIA</a></li>
                                <li><a href="#">POSICIONES</a></li>
                                <li><a href="#">GOLEADORES</a></li>
                                <li><a href="#">GALERIA</a></li>
                                <li id="mLogin"><a href="#">LOGIN</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>

        <section class="header-1-sub">
            <div id="bg-slider" class="background bg-0">&nbsp;</div>
            <div class="caption">
                <div class="container">
                    <h3 id="sliderTitle">Liga Colca.</h3>
                    <p id="sliderDesc" class="lead">Liga bla bla bla</p>
                </div>
            </div>

            <div class="container controls">
                <a class="control-prev" href="#"><span class="fa fa-angle-left fa-2x"> </span></a>
                <a class="control-next" href="#"><span class="fa fa-angle-right fa-2x"> </span></a>
            </div>
        </section>

        <!-- History -->
        <section class="content-14 v-center">
            <div>
                <div class="container">
                    <h3>Historia de la Liga</h3>

                    <p class="lead">You have the design, you have the code</p>

                    <div class="row features">
                        <div class="col-sm-2">
                            <div class="box-1">
                                <h6>Money</h6>
                                Startups can save money on design and code and spend it on concept and functionality.
                            </div>
                            <div class="box-2">
                                <h6>Retina Ready</h6>
                                Startup Framework works fine on devices supporting Retina Display.
                            </div>
                            <div class="box-3">
                                <h6>Easy to use</h6>
                                To get started, you select the desired sample and base the entire website on it.
                            </div>
                            <div class="box-4">
                                <h6>User Guide</h6>
                                You’ll get a description of each component and learn how to connect and use them.
                            </div>
                        </div>
                        <div class="col-sm-6 col-sm-offset-1">
                            <img src="img/page.jpg" alt="">
                        </div>
                        <div class="col-sm-2 col-sm-offset-1">
                            <div class="box-5">
                                <h6>Save Your Time</h6>
                                Use your time for generating new ideas for your startup.
                            </div>
                            <div class="box-6">
                                <h6>Responsive Layout</h6>
                                Of course we haven’t forgotten about the responsive layout.
                            </div>
                            <div class="box-7">
                                <h6>Clear Grid</h6>
                                Components fixed to 12 Grid system. It allows you to find understanding between the designer and
                                developer.
                            </div>
                            <div class="box-8">
                                <h6>Video Tutorials</h6>
                                Video tutorials show you how to make a site from design to code.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Tabla de posiciones -->
        <section class="container leagueTable">
            <div class="row">
                <div class="col-md-12">
                    <h3>Tabla de posiciones</h3>
                    <p>Tercera liga de futbol rapido</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">

                            </h3>
                        </div>
                        <div class="panel-body">
                            <table id="leagueTable"  class="table table-bordered table-hover" cellspacing="0" width="100%" ></table>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!-- Tabla de goleadores -->
        <section class="container leagueScorers">
            <div class="row">
                <div class="col-md-12">
                    <h3>Tabla de goleadores</h3>
                    <p>Tercera liga de futbol rapido</p>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">

                            </h3>
                        </div>
                        <div class="panel-body">
                            <table id="leagueScorers"  class="table table-bordered table-hover" cellspacing="0" width="100%" ></table>
                        </div>
                        <div class="panel-footer">

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <footer class="footer-5 bg-wet-asphalt">
            <div class="container">
                <a class="brand" href="#">
                    <img src="logo@2x.png" width="35" height="35" alt="">
                </a>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="text">Hablando un poco de la liga <br> esto es liga COLCA</div>
                    </div>
                </div>
                <a class="btn btn-small" href="#"><span class="fa fa-user"> </span>&nbsp;Liga Colca</a>
            </div>
        </footer>



    </div>
</template>